<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="200" alt="Angular Logo"
       src="http://credit-ukraine.com/wp-content/uploads/2016/06/converter.png">
</div>

<div class="input-group col bd-example">

  <div class="custom-control custom-radio custom-control-inline">
    <input [(ngModel)]="this.convertService" (change)="changeService($event)" type="radio" id="privatbank" name="convertService1" class="custom-control-input" value="pr">
    <label class="custom-control-label" for="privatbank">api.privatbank.ua</label>
  </div>

  <div class="custom-control custom-radio custom-control-inline">
    <input [(ngModel)]="this.convertService" (change)="changeService($event)" type="radio" id="currencyconverterapi" name="convertService2" class="custom-control-input" value="cc">
    <label class="custom-control-label" for="currencyconverterapi">free.currencyconverterapi.com</label>
  </div>

  <div class="custom-control custom-radio custom-control-inline">
    <input [(ngModel)]="this.convertService" (change)="changeService($event)" type="radio" id="openexchangerates" name="convertService3" class="custom-control-input" value="oe">
    <label class="custom-control-label" for="openexchangerates">openexchangerates.org</label>
  </div>
</div>

<div class="input-group col">

  <div class="input-group-prepend">
    <button class="btn btn-outline-info" type="button" (click)="goConvert()">КОНВЕРТИРОВАТЬ</button>
  </div>
  <select [(ngModel)]="this.selectCCY" (change)="this.resultConvertData = false" name="selectCCY" class="custom-select" id="selectCCY" aria-label="Валюта для обмена на USD">
    <option selected>Выберите валюту для обмена USD...</option>
    <option *ngFor="let curr of allCurr" value="{{curr}}">{{ curr }}</option>
  </select>

  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
  </div>
  <input [(ngModel)]="this.dollarAmount" (input)="this.resultConvertData = false" type="text" class="form-control" id="dollarAmount" name="dollarAmount" aria-label="Кол. долларов для конвертации">
  <div class="input-group-append">
    <span class="input-group-text">.00</span>
  </div>

</div>

<hr>

<div class="row">
  <div class="col bg-success" *ngIf="resultConvertData">
    <div class="d-flex justify-content-around text-white"><h3>${{this.dollarAmount}} = {{ resultConvertData | number:'.2' }} {{ this.selectCCY }}</h3></div>
  </div>
</div>

